html {
  padding: 40px;
}

body {
  font-family: 'Garamond', serif;
  background-color: #f2ece4;
  
}

#pic {
  border: 2px solid #000000;
  float: right;
}

#RPOdates {
  float: right;
}

#BFOdates {
  float: right;
}

#OPdates {
  float: right;
}

#NWSdates {
  float: right;
}
