html {
  padding: 40px;
}

body {
  font-family: 'Garamond', serif;
  background-color: #f2ece4;
  
}

#pic {
  border: 2px solid #000000;
  float: right;
}

h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 10px;
}

#RPOsection {
  padding: 15px;
}

#BFOsection {
  padding: 15px;
}

#OPsection {
  padding: 15px;
}

#NWSsection {
  padding: 15px;
}
